<div class="container mt-4">
    <div class="card p-4 shadow-lg bg-dark text-light rounded">
        <h2 class="text-center mb-3">Team Roster</h2>
        <img id="head-coach-image" class="img-fluid rounded-circle" style="max-height: 50px;">
        <p id="head-coach" class="head-coach text-center"></p>
        <table class="table table-dark table-striped text-center roster-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Player</th>
                    <th>Position</th>
                    <th>Height</th>
                    <th>Age</th>
                    <th>PPG</th>
                    <th>RPG</th>
                    <th>APG</th>
                </tr>
            </thead>
            <tbody id="roster-body">
                <!-- Roster data will be inserted here -->
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const teamId = "{{ teamCommonInfo['TEAM_ID'] }}"; // Ensure team_id is passed when including this file
        fetch(`/roster/${teamId}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    console.error("Error fetching roster:", data.error);
                    return;
                }
                
                const headCoachImg = document.getElementById("head-coach-image");
                headCoachImg.src = `https://cdn.nba.com/headshots/nba/latest/1040x760/${data.headCoach.COACH_ID}.png`
                // Insert head coach info
                const headCoachElem = document.getElementById("head-coach");
                headCoachElem.textContent = `Head Coach: ${data.headCoach.COACH_NAME}`;

                // Insert roster
                const rosterBody = document.getElementById("roster-body");
                data.teamRoster.forEach(player => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td><img src="https://cdn.nba.com/headshots/nba/latest/1040x760/${player.PLAYER_ID}.png" alt="${player.PLAYER}" class="img-fluid rounded-circle" style="max-height: 50px;"></td>
                        <td>${player.PLAYER}</td>
                        <td>${player.POSITION}</td>
                        <td>${player.HEIGHT}</td>
                        <td>${player.AGE}</td>
                        <td>${player.PPG}</td>
                        <td>${player.RPG}</td>
                        <td>${player.APG}</td>
                    `;
                    rosterBody.appendChild(row);
                });
            })
            .catch(error => console.error("Error fetching roster:", error));
    });
</script>
